<h2><?php echo $pageHeading; ?></h2>
 <dl>
 <lh><?php echo $bookTitle; ?></lh>
 <dt>Author:</dt><dd><?php echo $author; ?></dd>
 <dt>ISBN:</dt><dd><?php echo $isbn; ?></dd>
 <dt>Release Date:</dt><dd><?php echo $releaseDate; ?></dd>
 </dl>